{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "usage",
        "targets": {
          "ie": 9,
          "browsers": ["last 5 versions", "safari >= 7", "not ie < 9"]
        }
      }
    ],
    ["@babel/preset-react"],
    ["@babel/preset-stage-1"],
    ["@babel/preset-stage-2"]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "comments": false
}