.bar-list {
  margin-top: 20px;
  background-color: #FFFFFF;
  .bar-item {
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F6F6F6;
  }
  .name {
    font-size: 16px;
    color: #333333;
  }
  .right-arrow {
    display: inline-block;
    position: relative;
    padding-right: 48px;
    font-size: 16px;
    color: #BDBDBD;
    &::after {
      display: inline-block;
      content: "";
      height: 9px;
      width: 9px;
      border-width: 1px 1px 0 0;
      border-color: #D6D6D6;
      border-style: solid;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 50%;
      right: 6px;
      margin-top: -9px;
    }
  }
}