
.arrow-wrap {

  .arrow_left {
    margin: 5px auto;
    width: 0;
    height: 0;
    position: absolute;
    left: -11px;
    top: -6px;
    .triangle_top {
      border-left: 12px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 26px solid #FAD961;
    }
    .triangle_bottom {
      border-left: 12px solid transparent;
      border-right: 0 solid transparent;
      border-top: 26.5px solid #FAD961;
    }
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-width: 25px 13px 25px 13px;
    border-style: solid;
    border-color: transparent red transparent transparent;
  }
  .ribbon {
    width: 0;
    height: 50px;
    border-left: 25px solid red;
    border-right: 25px solid red;
    border-bottom: 25px solid transparent;
    margin-left: 200px;
  }
}